* {
  font-family: Helvetica, Arial, sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(234, 234, 233, 0.6);
}

header {
  background-color: #DA1E37;
  display: flex;
  width: 100%;
  padding: 10px 20px;
}

.logo1 {
  width: 95%;
  display: flex;
  justify-content: center;
  padding: 20px; 
}

.logo {
  display: inline-block;
  height: 120px;
  width: auto;
}

.carrito1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logocarrito {
  width: 60px;
  height: auto;
}

main {
  padding: 20px;
}

.toastify {
  background: rgba(234, 234, 233, 0.6) !important;
  color: rgb(0, 0, 0) !important;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.distribucion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-img-top {
  width: 90%;
  height: 40%;
  object-fit: cover;
  margin-top: 20px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-text {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 1rem;
  margin-bottom: 15px;
}

.boton {
  background: #ffffff; 
  border: 2px solid #DA1E37;
  color: #DA1E37; 
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

.boton:hover {
  background: #DA1E37;
  color: white;
  border: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.boton:active {
  background: rgba(218, 30, 55, 0.8) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  transform: translateY(0) !important;
}
#total{
  height: 80px;
  display: flex;
  align-items: center;
  align-content: center;
}

.botones-especiales {
  display: flex;
  gap: 20px;
  align-items: center;
  align-content: center;
  height: 50px;
}

.especial1:hover {
  background: #ffffff; 
  border: 2px solid #DA1E37;
  color: #DA1E37; 
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

.especial2{
  background: #DA1E37;
  color: white;
  border: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

footer {
  display: flex;
  height: 15%;
  background-color: #DA1E37;
  color: #fff;
  text-align: center;
  padding: 10px;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.footer-bottom {
  margin: 0;
  font-size: 0.9em;
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
    flex: 1 1 calc(100% - 20px);
  }

  .logo {
    height: 80px;
  }

  .logocarrito {
    width: 40px;
  }
}

@media (max-width: 576px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo, .logocarrito {
    margin-bottom: 10px;
  }

  .logocarrito {
    width: 50px;
    height: auto;
  }
}
