* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: sans-serif;
  height: 10%;
  background-color: aquamarine;
  text-align: center;
  padding: 10px;
}

main {
  display: inline;
  min-height: 80vh; /* Asegura que el main ocupe al menos el 80% de la altura de la ventana */
}

.contenedor {
  padding: 20px;
}

.row {
  display: flex;          
  flex-wrap: wrap;        
  justify-content: center; /* Centra las tarjetas horizontalmente */
  gap: 20px;              /* Espacio entre tarjetas */
}

.card {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* Necesario para posicionar el botón */
  width: calc(25% - 30px); /* Ajusta el ancho según el contenedor */
  min-width: 200px; /* Ancho mínimo */
  display: flex; /* Habilita Flexbox */
  flex-direction: column; /* Organiza los elementos en una columna */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  text-align: center; /* Centra el texto horizontalmente */
}

.card-img-top {
  width: 100%;
  height: auto; /* Ajusta la altura de la imagen según sea necesario */
  margin-bottom: 15px; /* Espacio debajo de la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
}

.btn {
  background: #63d0fe; 
  border: none;
  color: white; 
  padding: 15px 30px;
  font-size: 13px;
  font-family: sans-serif;
  border-radius: 25px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: all 0.3s ease; /* Transición suave para efectos */
  outline: none; /* Elimina el borde al hacer clic */
  margin-top: 15px;
}

.btn:hover {
  background: #45a049; /* Verde oscuro para el hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra sutil al pasar el ratón */
  transform: translateY(-2px); /* Efecto de elevación */
}

.btn:active {
  background: #388e3c; /* Verde aún más oscuro al hacer clic */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pequeña al hacer clic */
  transform: translateY(0); /* Elimina el efecto de elevación al hacer clic */
}

footer {
  background-color: aquamarine;
  height: 7%;
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .card {
      flex: 1 1 calc(50% - 20px); /* Ajusta el ancho de las tarjetas en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .card {
      flex: 1 1 calc(100% - 20px); /* Ajusta el ancho de las tarjetas en pantallas pequeñas */
  }
}
